<!doctype html>
<html>
<head>
<link href='{{ static_url('helloworld.css') }}' rel='stylesheet' type='text/css'/>
	<title>{{ app_type }} Application on cloudControl</title>
</head>
<body>
<strong>Hey, I'm a {{ app_type }} app running on cloudControl!</strong>
  <footer>
    Coming from the <a href="https://www.cloudcontrol.com/dev-center/Quickstart">Quickstart</a>?
    Check out <a href="https://www.cloudcontrol.com/dev-center/Guides/Python/Tornado">the explanation</a>.
  </footer>
</body>
</html>
